.filter-navigator-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5em;
}

.filter-list-container {
    display: flex;
    flex-direction: column;
    min-width: 17em;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid rgba(111, 111, 111, 1);
}

.search-cell {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    min-width: 16em;
    justify-content: left;
    align-items: flex-start;
    border-bottom: 1px solid rgba(111, 111, 111, 1);
}

.search-bar {
    width: 95%;
    border-radius: 12px;
    background-color: white;
    padding: 0.5em;
    font-family: 'Inter';
    font-size: 18px;
    color: rgba(111, 111, 111, 1);
}

.filter-list {
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0 auto;
}

.filter-list-cell {
    width: 90%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    border-top: 1px solid rgba(111, 111, 111, 1);
    font-family: 'Inter';
    font-size: 18px;
    color: rgba(111, 111, 111, 1);
    margin: 0 auto;
}

.filter-list-cell:hover {
    background-color: rgb(183, 213, 255);
}

.filter-list-cell:first-child {
    border-top: none;
}