.resume-container {
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    padding: 1em;
    gap: 1em;
    justify-content: center;
    overflow-x: hidden;
    flex: auto;
}

.resume-frame {
    position: relative;
    width: 100%;
    height: calc(100vh - 6em);
    background-color: rgba(255, 255, 255, 1);
    border-style: hidden;
}