.blog-container {
  display: flex;
  flex-direction: row;
  width: calc(100% - 30px);
  padding: 10px;
  gap: 10px;
  max-height: 85vh;
  justify-content: center;
  overflow-x: hidden;
}

.blog-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.20000000298023224);
  overflow-y: scroll;
  flex-grow: 1;
}

.blog-header {
  display: flex;
  flex-direction: column;
}

.blog-title {
  max-width: 160px;
  color: rgba(0, 0, 0, 1);
  font-size: 32px;
  letter-spacing: 0%;
  text-align: left;
  font-family: "Roboto", sans-serif;
}

.blog-subtitle {
  max-width: 121px;
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  letter-spacing: 0%;
  text-align: left;
  font-family: "Roboto", sans-serif;
}

.blog-text {
  color: rgba(0, 0, 0, 1);
  font-size: 15px;
  letter-spacing: 0%;
  text-align: left;
  font-family: "Roboto", sans-serif;
}

.more-posts {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  padding-bottom: 10px;
  color: rgba(111, 111, 111, 1);
}