html,
body {
  background-color: rgba(239, 239, 239, 1);
  margin: 0;
}

#root {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-top: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  background-color: rgba(239, 239, 239, 1);
}

.title {
  display: flex;
  flex-direction: column;
  max-width: 10em;
  color: rgb(94, 161, 255);
  font-size: 5em;
  letter-spacing: 0%;
  text-align: left;
  font-family: 'Inter';
}

.navigator {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.columns {
  display: flex;
  gap: 1em;
}

@media (max-width: 50em) {
  .columns {
    flex-direction: column;
    align-items: stretch;
  }
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 4em;
  padding-right: 3em;
  padding-bottom: 4em;
  padding-left: 3em;
  border: 1px solid rgba(111, 111, 111, 1);
  background-color: rgba(255, 255, 255, 1);
  color: rgba(111, 111, 111, 1);
  font-size: 2.5em;
  letter-spacing: 0%;
  text-align: left;
  font-family: 'Inter';
}

@media (max-width: 50em) {
  .button {
    padding-top: 1em;
    padding-right: 5em;
    padding-bottom: 1em;
    padding-left: 5em;
    font-size: 1.5em;
  }
}

input[type="text"] {
  background-color: rgba(57, 198, 126, .20);
  border-width: 0px;
}

.button:hover {
  background-color: rgb(183, 213, 255);
}