html,
body {
  margin: 0px;
  height: 100%;
  background-color: rgba(239, 239, 239, 1);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1930px;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  margin: 0px;
  padding-top: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  background-color: rgba(239, 239, 239, 1);
}
.title {
  display: flex;
  flex-direction: column;
  max-width: 574px;
  color: rgba(111, 111, 111, 1);
  font-size: 5em;
  letter-spacing: 0%;
  text-align: left;
  font-family: "Roboto", sans-serif;
}
.navigator {
  display: flex;
  flex-direction: column;
  max-width: 1310px;
  margin-top: 5%;
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20000000298023224); */
}
.columns {
  display: flex;
}
@media (max-width: 999px) {
  .columns {
    flex-direction: column;
    align-items: stretch;
  }
}

.button {
  display: flex;
  flex-direction: row;
  max-width: 80px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.20000000298023224);
  padding-top: 139px;
  padding-right: 121px;
  padding-bottom: 139px;
  padding-left: 121px;
  border-color: rgba(255, 255, 255, 1);
  border-width: 1px;
  border-style: solid;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(111, 111, 111, 1);
  font-size: 40px;
  letter-spacing: 0%;
  text-align: left;
  font-family: "Roboto", sans-serif;
}

.button:hover {
  background-color: rgb(183, 213, 255);
  border-color: rgb(183, 213, 255);
}

.button-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: calc(35.43% - 13.333333333333334px);
  margin-left: 20px;
  margin-bottom: 20px;
}
@media (max-width: 999px) {
  .button-column {
    width: 100%;
  }
}